# macOS
.DS_Store
._*

# VS Code (只保留你需要的配置文件；其余都别上传)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# C/C++ outputs
a.out
*.out
*.o
*.dSYM/
*.dSYM
*.exe
*.obj

# Build folders
build/
cmake-build-*/

# (你将要用的输出目录)
bin/